*{padding:0; margin:0}
body{background:#222831;
color:#eeeeee }
.tab{
    padding-left:2em;
}
a{
    color:white;
    text-decoration: none;
}
.clear{
    clear:both;
}
header, footer{
    background-color: #222831;
    color:#ccc;
    height:200px;
    width:100%;
    display: inline-block
}
footer{
    height:300px;
    padding-top:1em;
    width:100%;

    
}
footer h2{
    font-family: 'Poiret One', cursive;
    color:#ffd369
}
.main{
    display: inline-block;
    width:100%
}
.main-footer p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.2em;
    text-align: justify;
    line-height: 1.5em;
}
.main-header, .main-footer{
    width:70%;
    height:200px;
    margin: 0 auto;
}
.main-header{
    background-image: url("img/bannerBrown.jpg");
    background-color: #ffd369;
    text-align:center;
}
.main-header h1{
    font-family: 'Poiret One', cursive;
    display: inline-block;
    font-size: 7em;
}
.block{
    display: inline-block;
}
.menu{
    height:53px;
    background-color: #393e46;
    position: relative;
}
.menu ul{
    list-style: none;
    text-align: center;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    margin: 0.4em 1em;
    height:30px;
    display: block;
}
.container{
    background-color: #222831;
    border:#ccc 1px solid;
    border-radius:10px;
    width:70%;
    margin:1.5em auto;
}
.col-7{
    width:67%;
    display: inline-block;
    padding:5px;
}
.col-3{
    width:30%;
    /* display: inline-block; */
    float:right;
    padding:5px;
}
.col-3f{
    width:33.333333%;
    /* display: inline-block; */
    float:right;
    /* padding:5px; */
}
.in-block{
    padding:10px;
}
.in-block h1, .poems li strong{
    font-family: 'Poiret One', cursive;
    margin: 10px 0;
    border-left: 10px solid #ffd369;
    padding: 0 10px;
    display: inline-block;
}
.poems li strong {
    font-size:1.6em;
    font-weight: bold;
}
.in-block p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.2em;
    text-align: justify;
    line-height: 1.8em;
}
.col-10{
    width:100%;
    padding:5px;
    display: inline-block; 
}
.in-block li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2em;
}
.in-block ul{
    margin-left:4em
}
.books{
    list-style:none;
}
.books li{
    float: left;
}
.books li img{
    width:200px;
}
.in-block button{
    background-color: #ffd369;
    color:#fff;
    border:0;
    padding:0.5em 1em;
    font-size:1.1em;
    margin-left:10%
}
.poems blockquote{
    background-color: white;
    padding:1em;
    margin:1em;
}
.active{
    border-bottom: 4px #000 solid;
}
.form{
    padding:10px;
}
.form fieldset{
    padding:1em;
}
.form input, textarea{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px #ffd369 solid;
  border-radius: 5px;
}
.btn{
    border:0;
    background-color: #ffd369;
    color:#fff;
    font-size: 1.4em;
    border-radius:5px;
}
.half-input input{
    width:49.6%;
    border: 1px #ffd369 solid;
    border-radius: 5px;
}
fieldset{
    border: 1px #ffd369 solid;
    border-radius: 5px;
}
legend{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffd369;
    color:#fff;
    padding:0.5em 1em ;
    border-radius: 5px;;
}
.footer-links {
    list-style: none;
}
.footer-links li{
    padding-bottom: 1em;
 }
.footer-links li:before {
    content:"\00BB";
    padding-right:1em;
    color:#ffd369
}
.footer-links li a{
    text-decoration: none;
    color:#fff;
    font-family: 'Poiret One', cursive;
    font-size:1.2em;
}
.copyright{
    width:100%;
    padding:1.2em 0;
    background-color: #333 ;
    color:#fff;
    margin-top:-10px;
    font-family:'Poiret One', cursive
}
.copyright a{
    float:right;
    color:#ffd369;
    text-decoration: none;
    margin:-14px 18em;
}
figure{
    width:24%;
    float:left;
    height:350px;
}
figure img{
    width:100%;
    min-width:100px;
    height:auto;
}
.qoiute{
    position:absolute !important; right:16%; margin-top:10px;
}